body{
    width:100%;
    height:100vh;
    
}

#app{
    display:flex;
    flex-direction: column;
    align-items:center;
    flex:1;
    height:100vh;
    
}

/* header section */
#header{
    display: flex;
    flex-direction: row;
    background-color: rgb(2, 80, 126);
    justify-content: space-evenly;
    width:100%;
    height:60px;
    position: relative;
}

@media screen and (max-width:500px){
#header{
    float:none;
    display: block;
}
}

#title{
    display:flex;
    justify-content: center;
    font-size: 20px;
    font-family: Verdana,sans-serif;
    background-color: darkslategray;
    width:100%;
    position: relative;
}

button{
    background-color: rgb(2, 80, 126);
    padding: 10px 30px;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    border-color: black;
    border-width: 0px;
}

button:hover{
    background-color:rgb(2, 63, 99);
}

button:active{
    background-color:rgb(2, 63, 99);
    box-shadow: 0 5px rgb(2, 49, 63);
    transform: translateY(4px);
}

/* content section */
#content{
    display:flex;
    flex-direction: column;
    background-color: rgb(252, 246, 246);
    width:100%;
    height:100vh;
    align-items: center;
}

.image{
    width:100%;
    height:100%;
    max-width:1004px;
    max-height:580px;
    min-width:400px;
}

.imageTitle{
    color:white;
    position: absolute;
    bottom:54px;
    background-color: rgba(0, 0, 0, 0.274);
    width:100%;
    max-width:1004px;
}

.summary{
    color: white;
    background-color:rgba(0, 0, 0, 0.274);
    font-size: 30px;
    position: absolute;
    bottom: -25px;
    text-align: center;
    width:100%;
    padding-top:17px;
    padding-bottom:19px;
}

.fade{
    -webkit-animation-duration: 1.5s;
    animation:  fade;
    animation-duration: 1.5s;
}
#slideshow{
    position: relative;
    margin:auto;
}
/* slideshow controls */
#next, #prev{
    position: relative;
    bottom:500px;
    color:rgb(255, 255, 255);
    font-size:100px;
    font-weight:bold;
    position:absolute;
    top:200px;
}

#next:hover, #prev:hover{
    background-color:rgba(0, 0, 0, 0.247);
}
#next{
    position: absolute;

    left:950px;
}
.navdots{
    display:flex;
    justify-content: center;
    position:absolute;
    bottom:-20px;
}
.dot{
    border-radius: 50%;
    background-color: darkslategray;
    margin: 0 2px;
    padding:  2px 10px;
}

.dotactive{
    border-radius: 50%;
    background-color: rgb(107, 179, 179);
    margin: 0 2px;
    padding:  10px 10px;
}

/* Content section for phone */
@media only screen and(max-width:500px){

    .summary{
        display:none;

    }
}

/* footer section */
#footer{
    display:flex;
    justify-content: center;
    background-color: darkslategray;
    width:100%;
}